<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Map.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>739B2A981F7C914600E97C17</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>739B2AB11F7C914800E97C17</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>739B2ABC1F7C914800E97C17</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
